@font-face {
	font-family: 'karavan';
	src:url('../fonts/karavan.ttf');
}
@font-face {
	font-family: 'barlev';
	src:url('../fonts/barlev.ttf');
}

@font-face {
	font-family: 'narkisblock';
	src:url('../fonts/narkisblock.otf');
}
body{
	    direction: rtl;
	    font-family: narkisblock;
	    color:black;
	        overflow-x: hidden;
	        background-color: #f8f8f8;
            transition:0.5s;

}

body::-webkit-scrollbar {
    width: 1em;
      background-color: black;

}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
      outline: 5px solid black;
      background-color: white;
}
 
body::-webkit-scrollbar-thumb {
  background-color: black;
  height:10px!important;

}

body::-webkit-scrollbar-track-piece {
background-color: white;

}

body::-webkit-scrollbar-button {

}
h1{
font-size: 50px;
    font-family: 'karavan';
    line-height: 0.8;
}

h2{
	font-family: barlev;
	    width: auto;
}

h3{
    FONT-SIZE: 29PX;
    font-family: barlev;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}

h4{
	margin: 10px 0px 4px 0px;
    font-family: narkisblock;
}

h5{
        font-size: 30px;
    font-family: barlev;
}
.lg_img_css{



		height:100vh;
    position: relative;
    background-size: cover;
        background-position: center;
    margin-right: auto;
        background: linear-gradient(0deg, rgba(0,0,0,.2) 0%, rgba(255,255,255,0) 10%);
	

}


.lg_img_scroll{
    height: 100px;
    transition: 1.5s;
    transition-timing-function: ease-out;
	
}
.lg_img_css{
	overflow: hidden;

}
.lg_img1{
    background-image: url(../img2/lg_img.jpg);

    z-index: -1;
    top: 0px;
    width: 100vw;
    background-size: 100vw auto;
    background-position: center;
    height: 100vh;
        position: absolute;
}
.lg_img2{
    background-image: url(../img/lg_img.jpg);

    z-index: -1;
    top: 0px;
    width: 100vw;
    background-size: 100vw auto;
    background-position: center;
    height: 100vh;
        position: absolute;
}

.head_content{
	height: 100%;

}

.nav a{
	font-family:barlev;
	font-size:20px;
	color:black;
}




.navbar-default{
    background-color: transparent;
    border-color: transparent;
            
   
    	      height: 72px;


}
.nav_scroll {
    background-color: white;
    
    height: 55px;
    box-shadow: 0px -571px 14px 565px black;
        transition:none;
}

.navarea{

}

.navarea_scroll{
    box-shadow: 0px -530px 0px 530px white;
    height: 55px;
        transition:none;

}


.navbar-collapse .navbar-nav > li > a{
    color: #000;
            
   
    opacity:0;
}
.a_scroll  .navbar-nav > li > a {
    color: #000;
opacity:1;
            
   



}

.dropdown-toggle {
    color: #000;
            
   
    opacity:0;
}
.dropdown_scroll{
    color: #000;
opacity:1;
    margin-top: 5px;
     padding-top: 5px;
border-radius:0px!important;
    border:none!important;
            

}

.dropdown-menu{
    margin-left:-15px!important;
        right: 0!important;
       border-radius:0px!important; 
       border:none!important;
           min-width: 90px!important;

        
}

.dropdown-menu > li > a{
      padding: 10px 26px!important; 
       float: right!important;
}
.dropdown-menu > li {
       float: right!important;
}
.navbar-brand{
    font-size: 18px;
        width: 150px;
        fill:black;
            background-color: white;
    height: 100%;
    margin-top:50px;
    border:solid black 5px;

}
.brand_scroll{
width:57px;

    margin-top:0px;
    
    border:1px;
        transition:none;
        background:none;
        height:55px;
}

.top_plane{
transform: skewx(-45deg);
    top: -150px;
    position: relative;
    width: 150px;
    left: 225px;
    height: 150px;
    overflow: hidden;
    border-bottom: none;
                transition: none!important;
                	     transition:none;

}
.right_plane{
    transform: skewY(-45deg);
    top: -104px;
    position: relative;
    width: 200px;
    left: 500px;
    height: 150px;
    overflow: hidden;
    border-left: none;
      transition: none!important;
      	        transition:none;
}
.right_plane.brand_scroll{
	display: none;
	     transition:none;
}

.nav_scroll.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container a{
    transition:none;
}







.article_title{
    margin-top: 45vh;
    text-align: right;
    color: WHITE;
    background-color: black;
    float: right;
    box-shadow: 0px 0px 0px 5px white;
    padding: 20px;

}

.article_scroll{
margin-top: 0px;
    z-index: 435445;
    position: fixed;
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
    margin-right: 70px;
    color:black;
                
   
}


.sub_title_scroll{
	display:none;
	            
   
}


.h1_scroll{
	font-size: 20px;
	            
   
    font-family: 'barlev';
}

.h1_title{
    padding-bottom: 20px;
    border-bottom: solid white 5px;
    display: table-caption;
}

.h1_title_div{
	    width: 100%;
    padding-bottom: 0px;
    border-bottom: none;
        display: initial;

}


.article_body{



}

.article_main{

background-color: white;
box-shadow: 0px 0px 9px -6px grey;
    overflow: hidden;

}
.article_toprow{
    text-align: right;
    font-family: barlev;
    font-size: 20px;
    line-height: 0.8;
    margin-bottom: 50px;

}
.firstp{
    font-weight: 600;
    font-size: 17px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
    line-height: 21px;

}
.actualfirstp{
display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    padding-right: 0px;

}

.topquote{
        font-size: 40px;
    line-height: 8px;
        font-family: karavan;
}
.bottomquote{
    font-size: 40px;
    line-height: 27px;
    text-align: left;
    padding-left: 15px;
        font-family: karavan;
}
.flag{
    background-image: url(../img2/map.png);
    height: 340px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-left: 0px;


}
.flag2{
    background-image: url(../img2/refugee.jpg);
    height: 340px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-left: 0px;


}
.article_content{

	    background-color: white;
	        padding-top: 100px;


}



.text{
	position: relative;

        width: 600px;
    margin-right: auto;
    margin-left: auto;
        font-size: 17px;
}


.articleimg{
    width: 104%;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
        pointer-events: none;
}

.imgcap{
    font-size: 13px;
    color: #a1a1a1;
}


.comments{
width: 600px;
    margin-right: auto;
    margin-left: auto;
        height: 350px;
            padding-top:50px;
}
.comment_top{
        border-top: 5px solid black;
}
.photo{
    width: 100px;
    float: left;
    border: black solid 2px;
    height: 100px;

}



.comment_body{
	    border: black solid 2px;
    height: 100px;
    margin-bottom: 20px;

}

.comment_name{
	    border-bottom: 2px solid black;
}

.add_comment{

		    background-color:#f1f1f1;
		        border: 2px dotted black;
}

.add_image{
			        border: 2px dotted black;

}
.add_text{
	
    color: #949494;
}


.arrow{
	border: none;
	filter:contrast(1) grayscale(0)!important ;
}

.new_comment{
	height: 100px;
    border-top: 5px solid black;
    float: left;
    width: 600px;

    padding-top: 20px;
    margin-bottom: 80px;
}

.footer{
	background-color:black;
	height:100px;

}

.footerlogo{
    background-image: url(../img2/logofooter.png);
    background-size: contain;
    width: 290px;
    float: right;
    bottom: 0px;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    padding-top: 212px;
    margin-top: -163px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
text-decoration: underline;
}
.this {

    background-color: transparent;
text-decoration: underline;
}
.navbar-nav {
    float: left;
    margin: 0;
    margin-left: 15px;
}
.quoteattr{
        font-size: 13px;
    color: gray;
    font-weight: 300;
}

.quotebody{
        text-indent: 65px;
}

.commentrow{
    margin-left: 0px;
    margin-right: -45px;
}

.socialmediaicons{
        width: 600px;
    padding-top: 50px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.comment_text{
        margin-top: 5px;
}



.articleskew-x{
    z-index: -1;
    position: relative;
    transform: skewX(45deg);
    right: -406px;
    top: 321px;
    border-top-left-radius: 3px;
    color: transparent;
}
.articleskew-y{
    z-index: -1;
    position: relative;
    transform: skewY(45deg);
    right: -748px;
    top: 132px;
    border-top-left-radius: 3px;
        color: transparent;
}

 .h1skew{
    border-color: transparent;
}